KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=changeit
ARCHIVE_HOST=dominio.com
STORAGE_DIR=/storage/fs1
POSTGRES_DB=pacsdb
POSTGRES_USER=pacs
POSTGRES_PASSWORD=postgres
AUTH_SERVER_URL=https://keycloak-dominio.com/auth
ANDES_SECRET=1111111111111111111111111
AE_TITLE=PACS
ARCHIVE_DEVICE_NAME=PACS
